body{
    margin:0;
    padding:0;
    background: url(BG.png);
    background-size: cover;
    font-family: sans-serif;
}


/*.tittle{
    text-align: center;
    padding :50px 0 20px;
}
.tittle h1{
    margin:0;
    padding:0;
    color:black;
    font-size:36px ;
}*/
.container{
    width:50% ;
    height: 600px;
    background: #fff;
    margin: 0 auto;
    /*border: 1px solid #fff;*/
    box-shadow: 0 15px 40px rgba(0,0,0,0.5);
    margin-top: 50px;
    /*border-radius: 10px;
    border-top-left-radius: 10px;*/

    
}
.container .right{
    float:right;
    width:50%;
    height:600px;
    background: url(young-woman-exercising-with-her-headphones.jpg);
    background-size: cover;
    box-sizing: border-box;
    /*border-radius: 10px;*/
    /*border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;*/

}
.container .left{
    float:left;
    width:50%;
    height:600px;
    box-sizing: border-box;
    /*border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;*/
}
.formBox{
    width:100%;
    padding:80px 40px;
    box-sizing: border-box;
    height:400px ;
    background: #fff;
}
.formBox input{
    margin-bottom: 20px;
    width: 100%;
}

.formBox input[type="text"],
.formBox input[type="Password"]
{
    border:1px solid black;
    outline: 1px;
    width: 100%;
    border-radius: 6px;
    height: 30px;
    
    
}
#submit{
    width: 100%;
    height:35px;
    border-radius: 8px;
    background-color: #9400D3;
    color: white;
    border: 2px solid #9400D3;
    cursor:pointer;
}
button:hover{
    background-color: #6F2DA8;
}
.formBox #forgot{
    color: #9400D3;
    text-decoration: none;
}
p{
    color: #808080;
}
h1 {
    padding-left: 90px;
}
#para2{
  font-size: 13px;
  padding-top: 10px;
}
#para2:before {
content:"";
display:inline-block;
width:91px;
height:2px;
/*top:50%;*/
left:0;
background:#808080;
bottom: 50%;
opacity: 0.5;
}
#para2:after {
    content:"";
    display:inline-block;
    width:96px;
    height:2px;
    /*top:50%;*/
    bottom: 50%;
    right:0;
    background:#808080;
    opacity: 0.5;
    }
.google{
    
    height:30px;
    width:130px;
    /*padding-left:30px;*/
    display: inline-block;
    margin-right: 20px;
    
}
.fb{
    height:30px;
    width:130px;
    display: inline-block;
}
#google{
    color: black;
    background-color: white;
    border: 1.5px solid #D4D4D4;
    border-radius: 3px;
    font-weight: bold;
    font-size: small;
    height:30px;
    width:130px;
    display: inline-block;
    text-align: center;
    padding-bottom: 3px;
    margin-top: 8px;
    text-decoration: none;
    


}
#fb{
    color: black;
    background-color: white;
    border: 1.5px solid #D4D4D4;
    border-radius: 3px;
    font-weight: bold;
    font-size: small;
    height:30px;
    width:130px;
    text-align: center;
    display: inline-block;
    padding-bottom: 3px;
    margin-top: 8px;
    text-decoration: none;

    
}
.note{
    font-weight:600 ;
}
#para3{
    text-align: center;
    margin-top: 70px;
    font-size: small;
    
}

    

#sign{
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;

   
}
#sign:hover{
    color: #301934;
}
#fb:hover{
    background-color: #D5D5D5;
}
#google:hover{
    background-color: #d5d5d5;
}
#forgot:hover{
    color: #301934;
}
#submit:hover{
    background-color: #6F2DA8;
}